@import url(./vendor/normalize.css);
@import url(./vendor/font.css);

/* -------------------- */
/*    Utility classes   */
/* -------------------- */

:root {
  /* colors */
  --clr-main: rgba(0, 0, 0, 0.85);
  --clr-accent: #4C75FA;
  --clr-white: #FFFFFF;
  --clr-black: rgba(0, 0, 0, 1);
  --clr-transparent: transparent;
  --clr-bg: #F5F5F5;
  --clr-bg-hover: #F2F4FC;
  --clr-hover-main: #1948DF;
  --clr-hover-secondary: #3B59B9;
}

.page {
  /* max-width: 1400px; */
  font-family: 'Suisse Intl', Arial, sans-serif;
  background: var(--clr-bg);
  color: var(--clr-main);
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:has(.popup_opened),
html:has(.nav_opened) {
    overflow: hidden;
}

.no-scroll {
  width: initial;
  height: auto;
  /* overflow: hidden;
  padding-right: 15px; */
  position: static;
  overflow-x: hidden;
  overflow-y: scroll;
  /* height: 100vh;
  overflow-y: hidden;
  padding-right: 15px; */
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-title {
  font-size: 48px;
  line-height: calc(56 / 48);
  font-weight: 500;
  letter-spacing: -0.02em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin: 0;
  padding: 0;
}

.section-subtitle,
.steps__title {
  font-size: 24px;
  line-height: calc(28 / 24);
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.section-text {
  font-size: 20px;
  line-height: calc(28 / 20);
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.section-subline {
  font-size: 16px;
  line-height: calc(19 / 16);
  font-weight: 400;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin: 0;
  padding: 0;
}

.button-text {
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 500;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.span-accent {
  color: var(--clr-accent);
}

.span-accent_bold {
  font-size: 38px;
  line-height: calc(44 / 38);
  font-weight: 500;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

@media (max-width: 1280px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 1024px) {
  .section-title {
    font-size: 30px;
    line-height: calc(36 / 30);
    letter-spacing: -1px;
    font-feature-settings: normal;
  }
  .section-subtitle {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
  .section-text {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
  .section-subline {
    line-height: calc(24 / 16);
    font-feature-settings: normal;
  }
  .span-accent_bold {
    font-size: 24px;
    line-height: calc(24 / 24);
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 92.5%;
  }
  .section-subtitle {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

@media (max-width: 425px) {
  .steps__title {
    font-size: 24px;
    line-height: calc(24 / 24);
  }
}

/* -------------------- */
/*Interactive components*/
/* -------------------- */

.link {
  text-decoration: none;
  color: inherit;
  transition: color .2s ease-in-out;
}

.link:hover {
  color: var(--clr-accent);
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 18px 0;
  border: 0;
  border-style: none;
  border-radius: 30px;
  background-color: var(--clr-transparent);
  cursor: pointer;
  box-sizing: border-box;
  transition: all .3s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: transparent;
}

.button_type_main {
  background-color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
  min-width: 315px;
  color: var(--clr-white);
}

.button_size_small {
  min-width: 260px;
}

.button_type_main:hover {
  background-color: var(--clr-hover-main);
  border: 2px solid var(--clr-hover-main);
}

.button_type_main:focus-visible {
  background-color: var(--clr-accent);
  box-shadow: 0 0 0 3px var(--clr-hover-main);
}

.button_type_secondary {
  border: 2px solid var(--clr-accent);
  min-width: 260px;
  color: var(--clr-accent);
}

.button_type_secondary:hover {
  background-color: var(--clr-bg-hover);
  padding: 17px 0;
  border: 3px solid var(--clr-hover-secondary);
  color: var(--clr-hover-secondary);
}

.button_type_secondary:focus {
  color: var(--clr-accent);
  border: 0;
  box-shadow: 0 0 0 3px var(--clr-hover-main);
  background-color: var(--clr-transparent);
}

.fixed-button {
  padding: 15px 0;
  position: fixed;
  bottom: 32px;
  right: 20px;
  z-index: 1;
}

.slide-arrow {
  width: 36px;
  height: 36px;
  border: 2px solid rgba(48, 115, 232, 0.2);
  border-radius: 120px;
  background-color: var(--clr-transparent);
  transition: all .5s linear;
}

.slide-arrow_prev {
  margin-right: 20px;
}

.slide-arrow_prev:after {
  position: absolute;
  top: 12px;
  left: 14px;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid rgba(48, 115, 232, 0.2);
  border-bottom: 2px solid rgba(48, 115, 232, 0.2);
  transform: rotate(45deg);
  transition: all .5s linear;
}

.slide-arrow_next:after {
  position: absolute;
  top: 12px;
  left: 70px;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid rgba(48, 115, 232, 0.2);
  border-bottom: 2px solid rgba(48, 115, 232, 0.2);
  transform: rotate(225deg);
  transition: all .5s linear;
}

.slide-arrow_next:has(.slide-arrow_active):hover:after,
.slide-arrow_prev:has(.slide-arrow_active):hover:after {
  border-left: 2px solid var(--clr-hover-secondary);
  border-bottom: 2px solid var(--clr-hover-secondary);
}

.slide-arrow:has(.slide-arrow_active):hover {
  border-color: var(--clr-hover-secondary);
}

.slide-arrow_active {
  cursor: pointer;
  border: 2px solid var(--clr-accent);
  transition: all .5s linear;
}

.slide-arrow_active::after {
  border-left: 2px solid var(--clr-accent);
  border-bottom: 2px solid var(--clr-accent);
}

.slide-arrow_active:hover,
.slide-arrow_active:focus-visible {
  border: 2px solid var(--clr-hover-secondary);
}

.slide-arrow_active:hover:after {
  border-left: 2px solid var(--clr-hover-secondary);
  border-bottom: 2px solid var(--clr-hover-secondary);
}

@media (max-width: 668px) {
  .button {
    padding: 15px 0;
  }
  .button_type_main {
    min-width: 296px;
  }
  .button_type_secondary {
    min-width: 272px;
  }
  .promo__button {
    min-width: 296px;
  }
  .button_size_small {
    min-width: 272px;
  }
  .fixed-button {
    min-width: 272px;
  }
}

/* -------------------- */
/*      Components      */
/* -------------------- */

/* Header */

.header {
  margin-top: 26px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  display: flex;
  align-items: center;
  width: 100%;;
  margin: 0 auto;
  gap: 32px;
}

.header__nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.header__button {
  margin-left: auto;
}

.btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.burger {
  display: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 32px;
}

.nav-list__link {
  font-size: 14px;
  line-height: calc(18 / 14);
  font-weight: 500;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.nav-list__link:hover {
  color: var(--clr-main);
}

.nav-list__link[href]:hover {
  border-bottom: 2px solid var(--clr-main);
}

.button_type_experts-page {
  font-size: 14px;
  line-height: calc(18 / 14);
  font-weight: 500;
  color: var(--clr-white);
  background-color: var(--clr-main);
  padding: 9px 0;
  min-width: 168px;
  box-shadow: 0px 1px 4px 1px rgba(36, 36, 36, 0.07);
  border-radius: 120px;
}

.button_type_experts-page:hover {
  background-color: var(--clr-black);
}

.button_type_experts-page:focus-visible {
  box-shadow: 0 0 0 3px var(--clr-black);
}

@media (max-width: 768px) {
  .header {
    background: #FFFFFF;
    border-radius: 0px 0px 24px 24px;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .header__content {
    justify-content: space-between;
  }
  .header__nav {
    display: none;
  }
  .nav {
    position: fixed;
    display: block;
    padding: 24px;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 71px;
    background-color: var(--clr-white);
    border-radius: 24px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    opacity: 0;
  }
  .nav-list {
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 16px;
  }
  .nav-list__link {
    font-size: 16px;
    line-height: calc(19 / 16);
    color: #000000;
  }
  .transition {
    transition: visibility .6s, opacity .5s linear;
  }
  .nav_opened {
    visibility: visible;
    opacity: 1;
    overscroll-behavior: contain;
  }
  .burger {
    display: block;
    position: relative;
    width: 20px;
    height: 8px;
  }
  .burger__icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 2px;
    border-radius: 16px;
    background-color: var(--clr-main);
    transition: all 0.3s ease 0s;
  }

  .burger::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    border-radius: 16px;
    background-color: var(--clr-main);
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .burger::after {
    bottom: 0;
  }

  .burger_active .burger__icon {
    transform: rotate(45deg);
    top: 50%;
  }

  .burger_active::after {
    transform: rotate(-45deg);
    top: 50%;
    width: 100%;
  }
  .button_type_experts-page {
    margin: 0 auto;
    display: block;
  }
}

/* Promo */

.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.promo__content {
  width: calc(600/1160 *100%);
}

.promo__title {
  font-size: 54px;
  line-height: calc(63 / 54);
  font-weight: 500;
  letter-spacing: -0.02em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin: 20px 0 24px;
  padding: 0;
}

.promo__subtitle {
  margin: 0 auto 44px;
}

.promo__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 12px;
}

.promo__image {
  object-fit: cover;
  display: block;
  width: calc(507/1160 *100%);
  max-width: 100%;
  height: auto;
  margin: auto;
}

@media (max-width: 1024px) {
  .promo__title {
    font-size: 48px;
    line-height: calc(56 / 48);
  }
}

@media (max-width: 768px) {
  .promo__title {
    margin-left: auto;
    margin-right: auto;
    max-width: 506px;
  }
  .promo__subtitle {
    max-width: 570px;
  }
  .promo__content {
    width: auto;
    text-align: center;
    margin: auto;
  }
  .promo__image {
    width: auto;
  }
  .promo__buttons {
    justify-content: center;
    margin-bottom: 28px;
  }
}

@media (max-width: 540px) {
  .promo {
    padding: 32px 0 72px;
  }
  .promo__content {
    width: 100%;
  }
  .promo__title {
    font-size: 28px;
    line-height: calc(36 / 28);
    margin: 0 auto 20px;
    max-width: 296px;
  }
  .promo__subtitle {
    margin: 0 auto 24px;
    max-width: 296px;
  }
  .promo__image {
    width: 288px;
  }
  .buttons-list {
    flex-grow: 1;
  }
}

/* About */

.about {
  padding: 80px 0 115px;
  background: var(--clr-white);
  border-radius: 24px;
  box-sizing: border-box;
}

.about__content {
  display: grid;
  gap: 12px;
  grid-template-columns: 42% 55%;
}

.about__brief {
  font-size: 38px;
  line-height: calc(44 / 38);
  font-weight: 500;
  grid-row: span 2;
  margin: 0;
  padding: 0;
}

.about__list {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 66px;
  padding-right: 54px;
}

.about__list-item {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .about__brief {
    font-size: 30px;
    line-height: calc(36 / 30);
  }
}

@media (max-width: 625px) {
  .about__content {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 540px) {
  .about {
    padding: 30px 0 25px;
  }
  .about__content{
    gap: 10px;
  }
  .about__list {
    flex-direction: column;
    margin-top: 0;
  }
  .about__list-item {
    flex-direction: row;
    align-items: baseline;
    column-gap: 5px;
    margin-bottom: 12px;
  }
  .about__list-item:last-child {
    margin-bottom: 0;
  }
}

/* Problems */

.problems {
  position: relative;
  overflow: hidden;
  padding: 120px 0 119px 0;
  user-select: none;
  touch-action: pan-y;
}

.problems__title {
  margin: 0 0 48px 0;
  padding: 0 0 0 calc((100vw - 1160px) / 2);
  width: 45%;
}

.control-buttons {
  position: absolute;
}

.experts__control-buttons {
  top: 130px;
  right: 0;
}

.reviews__control-buttons {
  top: 77px;
  right: 0;
}

.slides-container {
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.touch-slider {
  scroll-behavior: auto;
  scroll-snap-type: both mandatory;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* WebKit */
.touch-slider::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.active {
	scroll-snap-type: unset;
}

.grab {
  cursor: grab;
}

.grabbing{
  cursor: grabbing;
}

.problems-list {
  margin: 0;
  display: flex;
  gap: 12px;
  padding-left: calc((100vw - 1160px) / 2);
}

.problems-list__item {
  background: var(--clr-white);
  border-radius: 16px;
  pointer-events: none;
  min-width: 379px;
  box-sizing: border-box;
}

.slide__image {
  display: block;
  width: 100%;
  object-fit: none;
  object-position: center center;
  height: 161px;
}

.slide__text {
  padding: 0 24px 24px;
}

.problems-list__item:nth-child(6) .slide__image {
  object-position: -11% 8%;
}

.problems-list__item:nth-child(8) .slide__image {
  object-position: right -25px;
}

@media (max-width: 1280px) {
  .problems__title {
    padding: 0 0 0 calc(64/1280 * 100%);
  }
  .problems-list {
    padding-left: calc(64/1280 * 100%);
  }
}

@media (max-width: 1024px) {
  .problems__title {
    padding: 0 0 0 calc(51.2/1024 * 100%);
  }
  .problems-list {
    padding-left: calc(51.2/1024 * 100%);
  }
}

@media (max-width: 540px) {
  .problems {
    padding: 68px 0;
  }
  .problems__title {
    width: 90%;
    text-align: center;
    padding: 0 calc(20.25/540 * 100%);
    margin-bottom: 24px;
  }
  .problems-list {
    padding-left: calc(20.25/540 * 100%);
  }
  .problems-list__item {
    min-width: 264px;
  }
  .slide__image {
    object-fit: contain;
    height: 84px;
    margin-bottom: 0;
  }
  .problems-list__item:nth-child(6) .slide__image {
  object-position: left;
  }
  .problems-list__item:nth-child(8) .slide__image {
    object-position: right -11px;
  }
  .slide__text {
    padding: 0 12px 20px;
  }
}

/* Work */

.work {
  padding: 140px 0 120px;
}

.work__title {
  margin-bottom: 48px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 574px));
  gap: 8px;
}

.steps__item {
  position: relative;
  min-height: 228px;
  background: var(--clr-white);
  border-radius: 32px;
  padding: 38px 22px 38px 172px;
  box-sizing: border-box;
}

.steps__item::before {
  content: "";
  position: absolute;
  top: 47px;
  left: 13px;
  width: 149px;
  height: 124px;
  background-image: url(./images/step-one-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
}

.steps__item:nth-child(2n)::before {
  top: 68px;
  left: 0px;
  width: 193px;
  height: 121px;
  background-image: url(./images/step-two-icon.svg);
}

.steps__item:nth-child(3n)::before {
  top: 46px;
  left: 10px;
  width: 150px;
  height: 162px;
  background-image: url(./images/step-three-icon.svg);
}

.steps__item:nth-child(4n)::before {
  top: 62px;
  left: 11px;
  width: 150px;
  height: 105px;
  background-image: url(./images/step-four-icon.svg);
}

.steps__title {
  margin-bottom: 12px;
}

@media (max-width: 1280px) {
  .steps {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }
}

@media (max-width: 425px) {
  .work {
    padding: 68px 0;
  }
  .work__title {
    margin-bottom: 24px;
  }
  .steps {
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
  }
  .steps__item {
    padding: 24px 12px;
    border-radius: 16px;
  }
  .steps__item:first-child {
    min-height: 220px;
  }
  .steps__item:nth-child(2n) {
    min-height: 200px;
  }
  .steps__item:nth-child(3n) {
    min-height: 235px;
  }
  .steps__item:nth-child(4n) {
    min-height: 302px;
  }
  .steps__item::before {
    top: 42%;
    left: 25%;
    transform: rotate(-18deg);
  }
  .steps__item:nth-child(2n)::before {
    top: 43%;
    left: 15%;
    transform: rotate(-20deg);
  }
  .steps__item:nth-child(3n)::before {
    background-size: contain;
    top: 135px;
    left: 28%;
    width: 100px;
    height: 107.73px;
    transform: rotate(-27deg);
  }
  .steps__item:nth-child(4n)::before {
    transform: rotate(0deg);
    top: 62%;
    left: 30%;
    width: 129.62px;
    height: 90px;
    background-size: cover;
  }
  .steps__title {
    margin-bottom: 8px;
  }
}

/* Experts */

.experts {
  background: var(--clr-white);
  border-radius: 80px;
}

.experts__content {
  position: relative;
  padding: 65px 0;
  overflow: hidden;
}

.experts__title {
  margin-bottom: 12px;
  max-width: 65%;
}

.experts__text {
  margin-bottom: 48px;
  max-width: 50%;
}

.experts-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  overflow-x: hidden;
}

.experts-list__item {
  max-width: 280px;
  background: var(--clr-bg);
  border-radius: 16px;
  padding: 24px 35px 17px;
  box-sizing: border-box;
  text-align: center;
  flex-shrink: 0;
}

.image-round-container {
  border-radius: 50%;
  overflow: hidden;
  width: 160px;
  height: 160px;
}

.experts__image-container {
  margin: 0 auto 10px;
}

.experts__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.experts__name {
  margin: 0 auto 10px;
}

@media (max-width: 1024px) {
  .experts {
    border-radius: 24px;
  }
  .experts__title {
    max-width: 50%;
  }
}

@media (max-width: 540px) {
  .experts {
    background: var(--clr-bg);
  }
  .experts__content {
    padding: 25px 0 34px;
  }
  .experts__control-buttons {
    display: none;
  }
  .experts-list {
    overflow-x: scroll;
  }
  .experts-list__item {
    background: var(--clr-white);
    max-width: 250px;
    padding: 24px 10px;
  }
  .experts__title {
    max-width: 80%;
    text-align: center;
    margin: 0 auto 12px;
  }
  .experts__text {
    line-height: calc(20 / 16);
    max-width: 80%;
    text-align: center;
    margin: 0 auto 24px;
  }
  .experts__image-container {
    width: 97px;
    height: 97px;
  }
  .experts__name {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

@media (max-width: 380px) {
  .experts__title {
    max-width: 100%;
  }
  .experts__text {
    max-width: 100%;
  }
}

/* Reviews */

.reviews {
  padding: 120px 0;
  position: relative;
  overflow: hidden;
}

.reviews__title {
  margin-bottom: 46px;
  text-align: center;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 9.5px;
  overflow-x: hidden;
}

.reviews-list__item {
  max-width: 379px;
  background: var(--clr-white);
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
  text-align: left;
  flex-shrink: 0;
}

.reviews__image-container {
  margin-bottom: 24px;
}

.reviews__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.reviews__name {
  margin-bottom: 12px;
}

.reviews__request {
  margin-bottom: 12px;
}

@media (max-width: 540px) {
  .reviews {
    padding: 34px 0;
  }
  .reviews__control-buttons {
    display: none;
  }
  .reviews__title {
    margin-bottom: 24px;
    text-align: left;
  }
  .reviews-list {
    gap: 8px;
    overflow-x: scroll;
  }
  .reviews-list__item {
    max-width: 276px;
    padding: 20px 12px 22px;
  }
  .reviews-list__item:hover {
    cursor: pointer;
  }
  .reviews__image-container {
    width: 81px;
    height: 81px;
    margin-bottom: 10px;
  }
  .reviews__name {
    font-size: 24px;
    line-height: calc(24 / 24);
    margin-bottom: 8px;
  }
  .reviews__request {
    margin-bottom: 8px;
  }
  .reviews__content {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .reviews__content_full {
    display: block;
  }
}


/* F.A.Q. */

.faq {
  background: var(--clr-white);
  border-radius: 30px;
}

.faq__content {
  padding: 86px 0;
}

.faq__title {
    margin-bottom: 48px;
    text-align: center;
}

.faq-list {
    margin-bottom: 56px;
}

.accordeon__item {
  border: 2px solid var(--clr-bg);
  border-radius: 32px;
  margin-bottom: 16px;
}

.accordeon__item:last-child {
  margin-bottom: 0;
}

.accordeon__title {
  position: relative;
  padding: 24px 84px 24px 24px;
  width: 100%;
  text-align: left;
  white-space: pre-wrap;
  transition: all 0.3s ease-in-out;
  color: var(--clr-main);
}

.accordeon__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: var(--clr-white);
  box-shadow: 0px 8px 32px rgba(36, 36, 36, 0.06);
  border-radius: 100px;
  background-image: url("./images/plus-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 24px;
  right: 24px;
  transition: transform .5s ease-in-out;
}

.accordeon__title_active {
  color: var(--clr-accent);
}

.accordeon__title_active::after {
  transform: rotate(-45deg);
}

@media (hover: hover) {
  .accordeon__title:hover {
    color: var(--clr-accent);
    cursor: pointer;
  }
  .accordeon__title:hover::after {
    background-color: var(--clr-bg);
  }
}

.accordeon__content {
  padding: 0 32px 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}

.accordeon__text {
  padding: 28px 0 66px;
}

.support-link {
  text-decoration: underline;
}

@media (max-width: 540px) {
  .faq {
    background: var(--clr-bg);
  }
  .faq__content {
    padding: 34px 0 68px;
    max-width: 100%;
  }
  .faq__title {
    margin-bottom: 24px;
    padding: 0 12px;
    letter-spacing: -1px;
  }
  .faq-list {
    margin-bottom: 43px;
  }
  .accordeon__item {
    margin-bottom: 12px;
  }
  .accordeon__title {
    font-size: 20px;
    line-height: calc(24 / 20);
    font-weight: 400;
    letter-spacing: -1px;
    padding: 10px 40px 10px 10px;
  }
  .accordeon__title::after {
    width: 24px;
    height: 24px;
    top: 0px;
    bottom: 0;
    margin: auto;
    right: 8px;
    background-size: 16px 16px;
  }
  .accordeon__content {
    background: #FFFFFF;
    border-radius: 24px;
    padding: 0 12px 0;
  }
  .accordeon__text {
    padding: 12px 0 12px;
  }
}

/* Request */

.request {
  position: relative;
  background: var(--clr-bg);
  border-radius: 23px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.request__info {
  margin-right: 16px;
  max-width: 330px
}

.request__title {
  margin-bottom: 12px;
}

.services__request {
  max-width: 776px;
  padding: 30px 140px 30px 30px;
}

.services__request::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 7px;
  width: 142px;
  height: 138px;
  background-image: url(./images/request-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
}

.faq__request {
  max-width: 885px;
  padding: 30px 249px 30px 30px;
}

.faq__request::after {
  content: "";
  position: absolute;
  top: auto;
  right: 63px;
  margin-left: -10px;
  width: 130px;
  height: 101px;
  background-image: url(./images/question-icon.png);
  background-size: auto;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .request {
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 24px 20px 24px 12px;
  }
  .faq__request {
    max-width: 92.5%;
  }
  .services__request {
    max-width: 100%;
  }
  .faq__request::after {
    display: none;
  }
  .services__request::after {
    display: none;
  }
  .request__info {
    margin-right: 0;
  }
  .request__title {
    font-size: 24px;
    line-height: calc(24 / 24);
    text-align: center;
    margin-bottom: 8px;
  }
  .request__text {
    text-align: center;
    margin-bottom: 12px;
  }
}

/* Footer */

.footer {
  border-radius: 30px;
}

.footer__content {
  padding: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_info {
  max-width: 40%;
}

.footer__column_content_links {
  max-width: 33%;
}

.tel-link {
  display: block;
  margin-bottom: 25px;
}

.footer__social-links {
  margin-bottom: 80px;
  column-gap: 13px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.vk-link {
  display: block;
  width: 23px;
  height: 14px;
  background-image: url(./images/vk-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  transition: background-image .2s ease-in-out;
}

.vk-link:hover {
  background-image: url(./images/vk-icon-hover.svg);
}

.footer__text {
  margin-bottom: 20px;
}

.footer__copyright {
  margin-top: 40px;
}

.remark-link {
  text-decoration: underline;
}

.remark-link:hover {
  color: var(--clr-black);
}

.footer-links__title {
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 500;
  font-feature-settings: 'pnum' on, 'lnum' on;
  padding: 0;
  margin: 0 0 16px;
}

.footer-links__item {
  margin-bottom: 16px;
}

.footer-links__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 540px) {
  .footer {
    background: #FFFFFF;
    border-radius: 30px 30px 0px 0px;
  }
  .footer__content {
    flex-direction: column;
    padding: 30px 12px 114px;
  }
  .footer__column_content_info {
    max-width: 100%;
    margin-bottom: 32px;
  }
  .footer__column_content_links {
    max-width: 100%;
  }
  .tel-link {
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: -1px;
    margin-bottom: 16px;
  }
  .footer__social-links {
    column-gap: 52px;
    margin-bottom: 18px;
  }
  .footer__text {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 17px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-align: left;
  }
  .footer__copyright {
    margin-top: 8px;
    font-size: 14px;
    line-height: 17px;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }
  .footer-links__item {
    font-size: 14px;
    line-height: 17px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 7px;
  }
}

/* Services */

.services {
  background: var(--clr-white);
  border-radius: 30px;
}

.services__content {
  padding: 80px 0;
}

.services__title {
  margin-bottom: 48px;
}

.services__tabs {
  margin-bottom: 48px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
}

.tabs-list {
  width: 43.7%;
}

.tabs__button {
  padding: 12px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  line-height: calc(28 / 20);
  border-radius: 16px;
  position: relative;
  white-space: normal;
}

.tabs__button[aria-selected="true"] {
  background: var(--clr-bg);
}

.tabs__button#tab-4::after {
  content: "";
  display: block;
  position: absolute;
  width: 97px;
  height: 27px;
  background-image: url("./images/cv-ru-icons.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 12px;
  left: 250px;
}

.tab-accordeon[rel="tab-4"]::after {
  content: "";
  display: block;
  position: absolute;
  width: 58px;
  height: 15px;
  background-image: url("./images/cv-ru-icons_mob.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 12px;
  left: 195px;
}

.tabs__button#tab-5::after {
  content: "";
  display: block;
  position: absolute;
  width: 95px;
  height: 27px;
  background-image: url("./images/cv-en-icons.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 12px;
  left: 250px;
}

.tab-accordeon[rel="tab-5"]::after {
  content: "";
  display: block;
  position: absolute;
  width: 58px;
  height: 15px;
  background-image: url("./images/cv-en-icons_mob.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 12px;
  left: 200px;
}

.tabpanel {
  -webkit-animation-duration: .5s;
   animation-duration: .5s;
   animation-timing-function: linear;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  to {
    opacity: 1;
  }
}

.tab-accordeon {
  display: none;
}

.tabpanel {
  width: 59.2%;
}

.tabpanel__content {
  margin-bottom: 32px;
}

.tabpanel__content:last-child {
  margin-bottom: 0;
}

.tabpanel .service {
  background: var(--clr-bg);
  border-radius: 16px;
  padding: 40px 32px 28px 32px;
}

.service__title {
  margin-bottom: 12px;
}

.service__text {
  margin-bottom: 24px;
}

.service__button {
  margin-right: 12px;
  margin-bottom: 12px;
}

@media (max-width: 980px) {
  .services {
    background: var(--clr-bg);
  }
  .services__content {
    padding: 0;
  }
  .services__title {
    margin-bottom: 24px;
  }
  .service__text {
    margin-bottom: 12px;
  }
  .tabs-list {
    display: none;
  }
  .tabs {
    flex-direction: column;
  }
  .tab-accordeon {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: calc(24 / 18);
    font-weight: 400;
    letter-spacing: -1px;
    padding: 8px 20px 0 8px;
    margin: 0;
    margin-bottom: 10px;
    transition: color .2s ease-in-out;
  }
  .tab-accordeon:hover {
    color: var(--clr-accent);
    cursor: pointer;
  }
  .tab-accordeon[aria-selected="true"] {
    color: var(--clr-accent);
  }
  .tab-accordeon:before {
      content: '';
      height: 6px;
      width: 6px;
      display: block;
      border: 2px solid #3073E8;
      border-right-width: 0;
      border-top-width: 0;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
      right: 4px;
      top: 35%;
    }
    .tab-accordeon[aria-selected="true"]::before {
      border: 2px solid #3073E8;
      border-left-width: 0;
      border-bottom-width: 0;
      top: 35%;
    }
  .tabpanel {
    width: 100%;
  }
  .tabpanel .service {
    background: var(--clr-white);
    padding: 30px 12px;
  }
}

/* Popup */

.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .6);
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  opacity: 0;
}

.transition {
  transition: visibility .6s, opacity .5s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  overscroll-behavior: contain;
}

.popup__container {
  width: 650px;
  margin: auto;
  padding: 25px 40px;
  box-sizing: border-box;
  background-color: var(--clr-white);
  border-radius: 30px;
  position: relative;
}

.form__title {
  font-size: 24px;
  line-height: calc(24 / 24);
  font-weight: 500;
  letter-spacing: -0.02em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin: 0 0 10px;
  padding: 0;
}

.form__remark {
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 400;
  margin: 0 0 24px;
  padding: 0;
}

.form__content {
  border: none;
  margin: 0 0 12px;
  padding: 0;
  min-width: 0;
}

.form__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  column-gap: 20px;
}

.form__item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__item:last-child {
  grid-column: 1 / span 2;
}

.form__item::before {
  content: '';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #C4C4C4;
  position: absolute;
  top: 38px;
  left: 16px;
}

.form__item:has(.form__input:valid)::before {
  color: var(--clr-main);
}

.form__item_type_telegram::before {
  content: '@';
}

.form__item:not(.form__item_type_phone)::after {
  content: '*';
  font-weight: 500;
  font-size: 16px;
  line-height: calc(8 / 16);
  color: #4C75FA;
  position: absolute;
  top: 50px;
  right: 16px;
}

.form__item:has(.form__input_invalid)::after {
  color: #FF3B30;
}

.form__item:has(.form__input:valid)::after {
  display: none;
}

.form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: #464649;
  margin-bottom: 8px;
}

.form__input {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: inherit;
  border-radius: 30px;
  border: 1px solid #D9D9D9;
  padding: 10px 40px 10px 16px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
}

.form__input[name="telegram"],
.form__input[name="phone number"] {
  padding-left: 29px;
}

.form__input::placeholder {
  padding-top: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #B3B3B3;
}

.form__input:hover {
  border-color: var(--clr-main);
}

.form__input:focus,
.form__input:focus-visible,
.form__input:active {
  outline: 1px solid transparent;
  border: 1px solid #4C75FA;
}

.form__input_invalid {
  border-color: #FF3B30;
}

.form__input:valid:not(:placeholder-shown) {
  border-color: var(--clr-main);
}

.form__input-error {
  min-height: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(15 / 12);
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FF3B30;
}

.form__remark {
  font-size: 14px;
  line-height: calc(17 / 14);
  font-weight: 400;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin: 0 0 24px;
  padding: 0;
}

.button_type_submit {
  border-radius: 30px;
  background: var(--clr-accent);
  color: var(--clr-white);
  min-width: 220px;
  padding: 15px;
}

.button_type_submit:hover {
  background: var(--clr-hover-main);
}

.button_type_submit:focus-visible {
  background: var(--clr-accent);
  box-shadow: 0 0 0 3px var(--clr-hover-main);
}

.button_disabled {
  background: #C4D0F5;
}

.button_disabled:hover,
.button_disabled:focus-visible {
  background: #C4D0F5;
  box-shadow: none;
  cursor: not-allowed;
}

.button_type_close {
  width: 36px;
  height: 36px;
  background-color: var(--clr-white);
  box-shadow: 0px 8px 32px rgba(36, 36, 36, 0.06);
  border-radius: 100px;
  background-image: url(./images/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  right: 10px;
  transition: background-color .5s ease-in-out;
}

.button_type_close:hover {
  background-color: var(--clr-bg);
  cursor: pointer;
}

@media (max-width: 540px) {
  .popup__container {
    width: 320px;
    padding: 32px 12px;
  }
  .form__title {
    font-size: 24px;
    line-height: calc(24 / 24);
    font-weight: 500;
    letter-spacing: 0;
    font-feature-settings: normal;
    margin-bottom: 20px;
  }
  .form__item:not(:nth-child(n+3):nth-child(-n+4)) {
    grid-column: 1;
  }
  .button_type_submit {
    width: 100%;
  }
  .form__input[name="goal"] {
    padding: 12px 29px 12px 12px;
    height: 56px;
  }
}

/* -------------------- */
/*     Experts-page     */
/* -------------------- */

.page:has(.profi) .header {
  padding: 18px 0;
  margin-top: 0;
}

.control-panel {
  padding: 40px 0 108px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
}

.control-panel__content {
  display: grid;
  grid-template-areas: "search search"
                       "checkboxes filters";
  perspective: 0;
}

.search-form {
  width: 378px;
  margin: 0 auto 20px;
  position: relative;
  grid-area: search;
}

.search-form__label {
  position: relative;
}

.search-form__input {
  padding: 17px 8px 17px 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: inherit;
  width: 100%;
  margin: 0;
  border: 2px solid #E0E0E0;
  border-radius: 14px;
  outline: transparent;
  box-sizing: border-box;
  text-align: left;
}

.search-form__input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: rgba(0, 0, 0, 0.5);
}

.search-form__input:hover,
.search-form__input:focus,
.search-form__input:focus-visible,
.search-form__input:active,
.search-form__input:valid:not(:placeholder-shown) {
  border-color: #757575;
}

.button_type_search {
  position: absolute;
  left: 11px;
  top: 17px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-image: url(./images/search-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 0;
  padding: 0;
}

.checkbox {
  display: flex;
  column-gap: 12px;
  grid-area: checkboxes;
}

.tooltip {
  position: fixed;
  bottom: -68px;
  left: 0;
  width: 100%;
  background: #F5F5F5;
  border-radius: 14px;
  visibility: hidden;
  opacity: 0;
  transition: visibility .6s, opacity .5s linear;
}

.tooltip:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #F5F5F5;
    top: -8px;
}

.checkbox__item_type_experts .tooltip:before {
  left: 40px;
}

.checkbox__item_type_mentors .tooltip:before {
  left: 152px;
}

.tooltip__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: #5D5D5D;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin: 0;
  padding: 8px 16px;
}

.checkbox__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  color: #757575;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 1px 12px 2px rgba(36, 36, 36, 0.1);
  border-radius: 14px;
  padding: 6px 12px 10px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: top;
  background-origin: content-box;
  transition: color .3s ease-in-out, background-image .3s linear;
}

.checkbox__item_type_experts {
  background-image: url(./images/experts-icon.svg);
}

.checkbox__item_type_mentors {
  background-image: url(./images/mentors-icon.svg);
}

.checkbox__item:hover,
.checkbox__item:has(input[type="checkbox"]:checked) {
  color: rgba(0, 0, 0, 0.85);
}

.checkbox__item_type_experts:hover,
.checkbox__item_type_experts:has(input[type="checkbox"]:checked) {
  background-image: url(./images/experts-icon_hover.svg);
}

.checkbox__item_type_mentors:hover,
.checkbox__item_type_mentors:has(input[type="checkbox"]:checked) {
  background-image: url(./images/mentors-icon_hover.svg);
}

/* .checkbox__item::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 8px;
  width: 14px;
  height: 14px;
  background-image: url(./images/info-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
} */

.checkbox__item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.checkbox__icon {
  display: block;
  margin: 0 auto 4px;
}

.checkbox__label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-align: center;
  margin-top: auto;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__switch {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  right: 0;
  top: 0;
  cursor: pointer;
}

.filters__button {
  border: 2px solid #E0E0E0;
  border-radius: 14px;
  padding: 17px 48px 17px 8px;
  position: relative;
  min-width: 183px;
  text-align: left;
  grid-area: filters;
  justify-self: end;
}

.filters__button-label {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: rgba(0, 0, 0, 0.5);
}

.filters__button::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 16px;
  width: 20px;
  height: 18px;
  background-image: url(./images/filter-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
}

.filters__button:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.profi {
  padding: 60px 0 120px;
}

.profi-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 12px;
  row-gap: 28px;
  margin-bottom: 60px;
}

.image-container {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.profi__image-container {
  margin: 0 auto 8px;
}

.profi__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: auto 280 / 325;
}

.profi__name {
  margin: 0 0 8px;
}

.profi__tags {
  margin: 0 0 8px;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
  flex-wrap: wrap;
}

.tag {
  background: #E0E0E0;
  border-radius: 14px;
  padding: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: rgba(0, 0, 0, 0.85);
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.profi__button {
  margin: 0 auto;
  display: block;
}

.button_type_show-more {
  background-color: var(--clr-main);
  padding: 15px 0;
  min-width: 328px;
  color: rgba(255, 255, 255, 0.85);
}

.button_type_show-more:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.button_type_show-more:focus-visible {
  box-shadow: 0 0 0 3px var(--clr-black);
}

.profi__request {
  display: none;
  margin-top: 48px;
  margin-bottom: 184px;
  background: var(--clr-white);
  max-width: 765px;
  padding: 30px 176px 30px 30px;
  flex-direction: column;
  align-items: flex-start;
}

.profi__request::after {
  content: "";
  position: absolute;
  top: 47px;
  right: 34px;
  width: 130px;
  height: 101px;
  background-image: url(./images/question-icon.png);
  background-size: auto;
  background-repeat: no-repeat;
}

.profi__request .request__info {
  margin-right: 0;
  max-width: fit-content;
}

.profi__request .request__text {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .page:has(.profi) .header {
    padding: 16px 0;
  }
  .control-panel {
    background-color: var(--clr-bg);
    padding: 32px 0 68px;
  }
  .control-panel__content {
    display: grid;
    grid-template-areas: "search filters"
                         "checkboxes checkboxes";
    row-gap: 19px;
    column-gap: 17px;
  }
  .search-form {
    min-width: 254px;
    margin: 0;
    width: auto;
  }
  .search-form__input {
    padding: 8.5px 8px 8.5px 32px;
    background: #FFFFFF;
    border-radius: 10px;
  }
  .search-form__input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
  }
  .button_type_search {
    top: 11px;
  }
  .filters__button {
    border: 0;
    padding: 6px 5px;
    min-width: 20px;
    justify-self: start;
    margin-right: 5px;
  }
  .filters__button::before {
    top: 9px;
    right: 0;
  }
  .filters__button-label {
    display: none;
  }
  .checkbox {
    column-gap: 8px;
    position: relative;
  }
  .checkbox::after {
    content:'';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  }
  .checkbox__item {
    min-height: 48px;
    min-width: 58px;
    border-bottom: 2px solid transparent;
    padding: 0 0 6px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    z-index: 1;
  }
  .checkbox__item:has(input[type="checkbox"]:checked) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.85);
  }
  .tooltip {
    background: rgba(255, 255, 255, 0.85);
  }
  .tooltip:before {
    display: none;
  }
  .tooltip__text {
    font-size: 12px;
    line-height: calc(14 / 12);
    color: #757575;
    font-feature-settings: normal;
    padding: 12px;
  }
  .profi {
    padding: 16px 0 68px;
  }
  .profi-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 296px));
    row-gap: 24px;
  }
  .profi-list__item {
    display: grid;
  }
  .profi__image-container {
    height: 290px;
  }
  .profi__name {
    order: 1;
  }
  .profi__about {
    order: 2;
  }
  .button_type_show-more {
    min-width: 296px;
  }
  .profi__request {
    padding: 24px 12px;
  }
  .profi__request::after {
    display: none;
  }
  .profi__request .request__title {
    line-height: calc(28 / 24);
  }
  .profi__request .request__text {
    font-size: 15px;
    line-height: calc(24 / 15);
    margin-bottom: 12px;
  }
}
